@font-face {
  font-family: "NotingYou";
  src: url("./assets/fonts/NothingYouCouldDo.ttf");
}
@font-face{
  font-family: NoTo;
  src: url("./assets/fonts/NotoSansKR-Medium.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}