@font-face {
  font-family: "NotingYou";
  src: url("../public/assets/font/NothingYouCouldDo.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("../public/assets/font/NotoSansKR-Medium.otf");
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}